# Environment variables (DO NOT COMMIT)
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db